$colorBlue: #1968fc;
$colorBlueHover: #5d95fd;
$colorBlack: #000000;
$colorContent: #11223f;
$colorFooter: #fbfbfb;

.title-section {
  position: relative;
  z-index: 1;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 159%;
  font-size: 30px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -40px;
    width: 80px;
    height: 2px;
    background-color: $colorBlue;
    box-shadow: 0px 2px 0px 0px rgba(209, 225, 254, 1);
    @media (max-width: 1024px) {
      left: 0px;
    }
  }
}
