.consultation {
  padding-top: 95px;
  padding-bottom: 80px;
  color: #fff;
  position: relative;
  @media (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // .consultation__title

  &__title {
    margin-bottom: 70px;
  }

  // .consultation__description

  &__description {
    font-size: 20px;
    line-height: 200%;
    max-width: 620px;
    margin-bottom: 40px;
  }

  // .consultation__conect

  &__conect {
  }

  // .consultation__button

  &__button {
    background-color: #fff;
    color: $colorBlue;
    width: 320px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }

  img {
    position: absolute;
    right: 0;
    top: 20px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
