.features {
  padding-top: 52.5px;
  padding-bottom: 67.5px;
  @media (min-width: 1024px) {
    padding-top: 67.5px;
  }
  // .features__title

  &__title {
    margin-bottom: 60px;
  }

  // .features__body

  &__body {
  }

  // .features__item

  &__item {
  }
}

.item-features {
  @media (min-width: 1024px) {
    height: 375px;
    display: flex;
    justify-content: space-between;
  }
  // .item-features__step

  &__step {
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative;
    @media (max-width: 1024px) {
      &:not(:first-child) {
        margin-top: 55px;
      }
    }
    @media (min-width: 1024px) {
      max-width: 325px;
      height: 270px;
      &_two {
        margin-top: 40px;
      }
      &_three {
        margin-top: 80px;
      }
    }
  }

  // .item-features__general

  &__general {
    display: flex;
    align-items: center;
    background-color: #f3f7ff;
    img {
      width: 80px;
      height: 80px;
      @media (min-width: 1024px) {
        width: 120px;
        height: 120px;
      }
    }
  }

  // .item-features__title

  &__title {
    margin-left: 20px;
    font-weight: 600;
    line-height: 120%;
    color: $colorContent;
    font-size: 20px;
    @media (min-width: 1024px) {
      max-width: 150px;
    }
  }

  // .item-features__text

  &__text {
    padding: 40px;
    color: $colorContent;
    line-height: 149%;
    background-color: #fff;
  }

  // .item-features__decor

  &__decor {
    position: absolute;
    bottom: -7px;
    right: -6px;
  }
}
