.page-header {
  // .page-header__logo

  &__logo {
    display: flex;
  }

  // .page-header__navigation

  &__navigation {
  }

  // .page-header__list

  &__list {
    display: none;
    @media (min-width: 900px) {
      display: flex;
      li {
        &:nth-child(1) {
          margin-right: 49px;
        }

        &:nth-child(2) {
          margin-right: 60px;
        }
        &:nth-child(3) {
          margin-right: 61px;
        }
      }
    }
  }

  // .page-header__link

  &__link {
    color: $colorBlack;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    &:hover {
      text-decoration: underline;
    }
  }

  // .page-header__upload-btn

  &__upload-btn {
    display: none;
    @media (min-width: 900px) {
      display: block;
      box-shadow: 0px 10px 40px 0px rgba(25, 104, 252, 0.2);
      text-transform: uppercase;
      width: 180px;
      line-height: 50px;
      text-align: center;
      background-color: $colorBlue;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      margin-left: 54px;
      transition: all 0.3s ease 0s;
      &:hover {
        background: $colorBlueHover;
      }
    }
  }
}

.logo {
  align-items: center;
  flex: 1 1 auto;
  margin-right: 10px;
  // .logo__image

  &__image {
    flex: 0 0 50px;
    height: 50px;
    margin-right: 10px;
  }

  // .logo__text

  &__text {
    color: $colorBlue;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}
