.headline {
  margin-top: 120px;
  color: $colorContent;
  position: relative;
  // .headline__content

  &__content {
    max-width: 600px;
  }

  // .headline__title

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  // .headline__description

  &__description {
    font-size: 20px;
    line-height: 159%;
    margin-bottom: 40px;
  }

  // .headline__conect

  &__conect {
  }

  // .headline__upload-btn

  &__upload-btn {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
    background-color: $colorBlue;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  // .headline__image

  &__image {
    position: absolute;
    top: 40px;
    right: 0;
  }

  // .headline__img

  &__img {
  }
}
