*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css?family=Mulish:400,600,700');
@import 'common.scss';

html,
body {
  height: 100%;
  font-family: 'Mulish';
  color: $colorBlack;
  font-size: 16px;
  font-weight: 400;
}

._container {
  max-width: 1150px;
  padding: 0px 15px;
  margin: 0 auto;
}
//------------------------------
.wrapper {
  background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png')
    50% 0 no-repeat;
  min-height: 100%;
}
.page {
  // .page__header

  &__header {
    display: flex;
    min-height: 110px;
    align-items: center;
  }
  // .page__headline

  &__headline {
  }
}

@import 'header.scss';
@import 'headline.scss';
@import 'review.scss';
