.page {
}
.purposes {
  padding-top: 66px;
  padding-bottom: 120px;

  &__title {
    font-weight: 400;
    color: $colorContent;
    text-transform: uppercase;
    line-height: 159%;
    font-size: 30px;
    margin-bottom: 52px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -40px;
      width: 80px;
      height: 2px;
      background-color: $colorBlue;
      box-shadow: 0px 2px 0px 0px rgba(209, 225, 254, 1);
      @media (max-width: 1024px) {
        left: 0px;
      }
    }
  }

  // .purposes__body

  &__body {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }

  // .purposes__item

  &__item {
    display: flex;
    align-items: center;
    min-width: 540px;
    background-color: #fff;
    gap: 20px;
    box-shadow: 0px 20px 60px 0px rgba(49, 69, 244, 0.1);
  }

  // .purposes__image

  &__image {
  }

  // .purposes__text

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 177%;
  }
}
