.reviews {
  margin-top: 50px;
  margin-bottom: 120px;
  display: flex;
  @media (min-width: 1024px) {
    margin-top: 200px;
  }

  // .reviews__review

  &__review {
    @media (min-width: 1024px) {
      display: flex;
      gap: 40px;
    }
  }
  // .page__reviews

  &__reviews {
  }
}

.review {
  // .review__item

  &__item {
    max-width: 100%;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 20px 60px 0px rgba(25, 104, 252, 0.1);
    @media (min-width: 1024px) {
      max-width: 540px;
    }
    @media (max-width: 1024px) {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    @media (max-width: 440px) {
      padding: 10px;
    }
  }

  // .review__info

  &__info {
  }

  // .review__person-info

  &__person-info {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }
  // .review__user

  &__user {
    margin-right: 20px;
  }

  // .review__names

  &__names {
    font-weight: 600;
  }

  // .review__name

  &__name {
    font-size: 18px;
    line-height: 133%;
    color: $colorContent;
  }

  // .review__position

  &__position {
    font-size: 14px;
    line-height: 171%;
    color: $colorBlue;
  }

  // .review__quote

  &__quote {
    width: 60px;
    height: 46px;
    @media (max-width: 440px) {
      display: none;
    }
  }

  // .review__text

  &__text {
    line-height: 149%;
    color: $colorContent;
  }
}
