.users {
  padding-top: 72.5px;
  padding-bottom: 66px;
  @media (min-width: 1024px) {
    padding-top: 40px;
  }

  // .users__title

  &__title {
    margin-bottom: 60px;
  }

  // .users__body

  &__body {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  // .users__item

  &__item {
    box-shadow: 0px 20px 60px 0px rgba(49, 69, 244, 0.1);
    width: 100%;
    padding: 20px;
    background-color: #fff;
    @media (min-width: 860px) {
      max-width: 360px;
    }
  }

  // .users__label

  &__label {
    font-size: 20px;
    color: $colorBlue;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 30px;
  }

  // .users__text

  &__text {
    font-size: 16px;
    line-height: 156%;
    color: $colorContent;
  }
}
