.users {
  padding-top: 40px;
  padding-bottom: 66px;

  // .users__title

  &__title {
    font-weight: 400;
    color: $colorContent;
    text-transform: uppercase;
    line-height: 159%;
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -40px;
      width: 80px;
      height: 2px;
      background-color: $colorBlue;
      box-shadow: 0px 2px 0px 0px rgba(209, 225, 254, 1);
    }
  }

  // .users__body

  &__body {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  // .users__item

  &__item {
    max-width: 360px;
    padding: 20px;
    background-color: #fff;
  }

  // .users__label

  &__label {
    font-size: 20px;
    color: $colorBlue;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 30px;
  }

  // .users__text

  &__text {
    font-size: 16px;
    line-height: 156%;
    color: $colorContent;
  }
}
