.wokflow {
  padding-bottom: 67.5px;
  @media (min-width: 1024px) {
    padding-top: 10px;
  }
  // .wokflow__title

  &__title {
    margin-bottom: 60px;
  }

  // .wokflow__body

  &__body {
  }

  // .wokflow__item

  &__item {
  }
}

.item-wokflow {
  // .item-wokflow__body

  &__body {
    @media (min-width: 1024px) {
      height: 302px;
      display: flex;
      justify-content: space-between;
    }
  }

  // .item-wokflow__step

  &__step {
    box-shadow: 0px 20px 60px 0px rgba(49, 69, 244, 0.1);
    padding: 40px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
    @media (min-width: 1024px) {
      max-width: 320px;
      height: 220px;
    }
    @media (max-width: 1024px) {
      &:not(:last-child)::before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 22px;
        width: 40px;
        height: 1px;
        border-top: 1px dashed $colorBlue;
        transform: rotate(90deg);
      }
    }
    &_middle {
      @media (min-width: 1024px) {
        margin-top: 40px;
      }
      @media (max-width: 1024px) {
        &::before {
          content: '';
          position: absolute;
          bottom: -20px;
          left: 22px;
          width: 40px;
          height: 1px;
          border-top: 1px dashed $colorBlue;
          transform: rotate(90deg);
        }
      }
      @media (min-width: 1142px) {
        &::before {
          content: '';
          position: absolute;
          top: 69px;
          left: -75px;
          width: 70px;
          height: 1px;
          border-top: 1px dashed $colorBlue;
        }
      }
    }
    &_last {
      @media (min-width: 1024px) {
        margin-top: 80px;
      }
      @media (min-width: 1142px) {
        &::before {
          content: '';
          position: absolute;
          top: 69px;
          left: -75px;
          width: 70px;
          height: 1px;
          border-top: 1px dashed $colorBlue;
        }
      }
    }
  }

  // .item-wokflow__title

  &__title {
    text-transform: uppercase;
    line-height: 133%;
    font-size: 12px;
    font-weight: 700;
    color: $colorContent;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__load {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  // .item-wokflow__subtitle

  &__subtitle {
    color: $colorBlue;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 177%;
    font-weight: 700;
  }

  // .item-wokflow__text

  &__text {
    margin-top: 27px;
    color: $colorContent;
    line-height: 30px;
  }

  // .item-wokflow__decor

  &__decor {
    position: absolute;
    bottom: -5.2px;
    right: -5.2px;
  }
}
